{
	"env": {
		"browser": true,
		"es6": true, 
		"node": true, 
		"mocha": true
	},

	"extends": ["eslint:recommended", "plugin:react/recommended"], 
	
	"globals": {
		// "angular": 1
	}, 

	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true, 
			"modules": true
		}, 
		"ecmaVersion": 6, 
		"sourceType": "module"
	},

	"plugins": [
		"react"
	], 

	"rules": {
        // React
        "react/display-name": 0,
        "react/jsx-boolean-value": 1,
        "react/jsx-closing-bracket-location": 1,
        // "react/jsx-curly-spacing": 1, 	// I don't like this rule 
        "react/jsx-max-props-per-line": 0,
        "react/jsx-indent-props": 0,
        "react/jsx-no-duplicate-props": 1,
        "react/jsx-no-undef": 1,
        "react/jsx-sort-prop-types": 0,
        "react/jsx-sort-props": 0,
        "react/jsx-uses-react": 1,
        "react/jsx-uses-vars": 1,       //Prevent variables used in JSX to be incorrectly marked as unused
        "react/no-danger": 0,
        // "react/no-set-state": 1,   // N.B. - Figure out how to make exceptions for "smart components"
        "react/no-did-mount-set-state": 1,
        "react/no-did-update-set-state": 1,
        "react/no-multi-comp": 1,
        "react/no-unknown-property": 1,
        "react/prop-types": 1,
        "react/react-in-jsx-scope": 1,
        "react/require-extension": 1,
        "react/self-closing-comp": 1,
        "react/sort-comp": 1,
        "react/wrap-multilines": 1,

	    "eqeqeq": [2,"smart"],
	    "no-eval": 2,
	    "no-extra-bind": 2,
	    "no-floating-decimal": 2,
	    "no-loop-func": 2,
	    "no-new-wrappers": 2,
	    "no-return-assign": 2,
	    "no-unused-vars": ["error", { "vars": "all", "args": "all" }], 
	    "no-useless-call": 2,
	    "no-with": 2,
	    "comma-spacing": [1,{"after":true}],
	    "eol-last": 1,
	    "new-cap": [2,{"newIsCap":true}],
	    "newline-after-var": [1,"always"],
	    "no-array-constructor": 2,
	    "semi-spacing": [2,{"after":true}],
	    "semi": [2,"always"],
	    "keyword-spacing": ["error", {"before": true, "after": true, "overrides": {}}],
	    "arrow-spacing": [2,{"before":true,"after":true}],
	    "constructor-super": 2,
	    "no-const-assign": 2,
	    "no-this-before-super": 2,
	    "no-var": 2,
	    "object-shorthand": 2,
	    "prefer-const": 2,
	    "prefer-spread": 2
	}
}
