html, body {
	height: 100%; 
	margin: 0; 
	padding: 0;
} 

.full-dimensions {
	height: 100%; 
	width: 100%; 
}

.inherit-dimensions {
	height: inherit; 
	width: inherit; 
}

.hidden {
	display: none; 
}

.offscreen {
	left: -10000px;
}

/* Elements with '.visible' class are on top of the 
	stack of maps / panoramas */
.visible {
	z-index: 100; 
}

.layered {
	position: absolute; 
}

/* ------ Components ------ */

.two-blocks {
	width: 100%; 
	height: calc(100% - 150px);
	font-family: "Lucida Console", Monaco, monospace; 
}

.two-blocks-view {
	margin-bottom: 2%;
	box-shadow: 2px 2px 10px #000;
}

.two-blocks-view, 
.two-blocks-prompt {
	position: relative;
}

.two-blocks-map {
	position: absolute; 
}

.two-blocks-interchange {
	margin-left: 1%;
}

.two-blocks-submitter-borough-name {
	color: #D9285B;
}

.two-blocks-button {
	border-radius: 10px;
	height: 2em;
	letter-spacing: 1px; 
}
