/* MOBILE CSS */

.mobile.two-blocks {
	height: 100%; 
}

.mobile .two-blocks-view, 
.mobile .two-blocks-prompt {
	position: absolute; 
}

.mobile .two-blocks-interchange {
    position: absolute;
    z-index: 100;
	background-color: #000;
    opacity: 0.7;
}

.mobile .two-blocks-prompt, 
.mobile .two-blocks-submitter-text {
	color: #fff;
    font-size: 1.5em;
    text-align: center;
    top: 10%;	
}

.mobile .two-blocks-prompt {
	width: 100%; 
}

.mobile .two-blocks-submitter {
	position: absolute; 
	width: 100%; 
	height: 20%; 
	top: 35%; 
}

.mobile .two-blocks-button {
	background-color: rgb(255, 255, 255);	
	font-size: 1.2em; 
	max-width: 250px; 
	min-height: 25px; 
}

.mobile .two-blocks-countdown {
	position: absolute;
	top: 10%; 
	color: #fff; 
	font-size: 1.5em;
	font-weight: bold; 
	text-shadow: 3px 3px 3px #000;  
	z-index: 100; 
}
 
.mobile .two-blocks-countdown {
	margin: 10px;
}

.two-blocks-prompt .green, 
.mobile .two-blocks-countdown .green {
	color: #009E39;
}

.two-blocks-prompt .yellow, 
.mobile .two-blocks-countdown .yellow {
	color: #DFC00F;
}

.two-blocks-prompt .red, 
.mobile .two-blocks-countdown .red {
	color: #D9285B;
}

.two-blocks-prompt .correct-borough, 
.two-blocks-prompt .total-correct {
	font-weight: bold; 
}

.mobile .borough-selection-button, 
.mobile .two-blocks-submitter-button {
	display: block; 
	width: 60%; 
	height: 30%; 
	margin: 0px auto 35px auto;  
}

.mobile .two-blocks-replay-button {
	position: absolute; 
	width: 60%; 
	height: 5%; 
	left: 0; 
	right: 0; 
	top: 50%; 
	margin: auto; 
}

@media screen and (orientation: landscape) {

	.mobile .borough-selection-button {
		margin-bottom: 15px; 
	}

	.mobile .two-blocks-prompt {
		top: 0%; 
	}

	.mobile .two-blocks-prompt, 
	.mobile .two-blocks-countdown {
		left: 1%;
	}

	.mobile .two-blocks-submitter { 
		position: relative;
	}

	.mobile .two-blocks-submitter-button {
		margin-bottom: 25px; 
	}	

}

/* Prompt Transitions */

.mobile .prompt-text {
	/*display: inline-block;*/
	position: relative; 
}

.mobile .prompt-text span {
	width: 100%; 
	position: absolute; 
	left: 0px; 
} 

.two-blocks-prompt .correct-borough-prompt .correct-borough,
.two-blocks-prompt .incorrect-borough-prompt .correct-borough {
	position: relative; 
}

/* .pregame-prompt */

.mobile .pregame-prompt {
  opacity: 0.01;
  -webkit-transition: all 1000ms ease-in-out;
  -o-transition: all 1000ms ease-in-out;
  transition: all 1000ms ease-in-out;
}

.mobile .showing .pregame-prompt, 
.mobile .leaving .pregame-prompt {
  opacity: 1;
}

.mobile .leaving .pregame-prompt {
  transform: translateX(-1000%);
}

/* .showing-panorama-prompt */

.mobile .showing-panorama-prompt {
  opacity: 0.01;
  -webkit-transition: all 1000ms ease-out;
  -o-transition: all 1000ms ease-out;
  transition: all 1000ms ease-out;  
}

.mobile .showing .showing-panorama-prompt {
  opacity: 1; 
}

.mobile .showing .showing-panorama-prompt.show-after {
	transition-delay: 1s; 
}

.mobile .leaving .showing-panorama-prompt {
  opacity: 0; 
}

/* .guessing-location-prompt */ 

.mobile .guessing-location-prompt {
	top: -10000px; 
	-webkit-transition: all 500ms ease-out;
	-o-transition: all 500ms ease-out;
	transition: all 500ms ease-out;  	
}

.mobile .showing .guessing-location-prompt {
	top: 0px; 
}

.mobile .leaving .guessing-location-prompt {
	/*opacity: 0px; */
}

/* Mobile Submitter Buttons */ 

.mobile .borough-selection-button {
	-webkit-transition: all 500ms ease-out;
	-o-transition: all 500ms ease-out;
	transition: all 500ms ease-out; 	

	-webkit-transform: translateX(-1000px);
	 -ms-transform: translateX(-1000px);
	 -o-transform: translateX(-1000px);
	 transform: translateX(-1000px);
	
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);	 
}

.mobile .borough-selection-button.showing {
	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px);
	transform: translateX(0px);
}

.mobile .first-borough-selection-button {
	transition-delay: 0ms; 
}

.mobile .second-borough-selection-button {
	transition-delay: 250ms; 	
}

.mobile .third-borough-selection-button {
	transition-delay: 500ms; 
}

.mobile .fourth-borough-selection-button {
	transition-delay: 750ms; 
}

.mobile .fifth-borough-selection-button {
	transition-delay: 1000ms; 
}

.mobile .borough-selected .borough-selection-button {
	-webkit-transform: translateX(-1000px);
	-ms-transform: translateX(-1000px);
	-o-transform: translateX(-1000px);
	transform: translateX(-1000px);
}

.mobile .borough-selected .selected {
	-webkit-transition: all 1500ms cubic-bezier(0.75, -0.13, 1, 0); 
	-o-transition: all 1500ms cubic-bezier(0.75, -0.13, 1, 0); 
	transition: all 1500ms cubic-bezier(0.75, -0.13, 1, 0);
}

/* Final Answer Check */

@keyframes swoop-in {
	0% {
		-webkit-transform: perspective(1000px) translate3d(0px, 0px, -1000px);
		-ms-transform: perspective(1000px) translate3d(0px, 0px, -1000px);
		-o-transform: perspective(1000px) translate3d(0px, 0px, -1000px);
		transform: perspective(1000px) translate3d(0px, 0px, -1000px);		
	}

	100% {
		-webkit-transform: perspective(0px) translate3d(0px, 0px, 0px);
		-ms-transform: perspective(0px) translate3d(0px, 0px, 0px);
		-o-transform: perspective(0px) translate3d(0px, 0px, 0px);
		transform: perspective(0px) translate3d(0px, 0px, 0px);		
	}
}

.mobile .final-answer-check {
	-webkit-animation-duration: 500ms;
	 -o-animation-duration: 500ms;
	 animation-duration: 500ms; 
	-webkit-animation-name: swoop-in;
	 -o-animation-name: swoop-in;
	 animation-name: swoop-in; 
}

/* Loading Panorama Prompt */

.mobile .loading-panorama-prompt {
	-webkit-transform: translateX(1000px);
	-ms-transform: translateX(1000px);
	-o-transform: translateX(1000px);
	transform: translateX(1000px);
	-webkit-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	transition: all 1s ease-out;
}

.mobile .showing .loading-panorama-prompt {
	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px);
	transform: translateX(0px);
}

.mobile .leaving .loading-panorama-prompt {
	-webkit-transform: translateX(-1000px);
	-ms-transform: translateX(-1000px);
	-o-transform: translateX(-1000px);
	transform: translateX(-1000px);
}

/* Game Over Prompt */

.mobile .game-over-prompt span {
	position: relative;
}
